<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">
    {% for item in items %}
        <twig:Breadcrumb url="{{ item.url }}" label="{{ item.label }}" isCurrent="{{ item.isCurrent }}"/>
        {% if loop.last == false %}
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-500 w-5px h-2px"></span>
            </li>
        {% endif %}
    {% endfor %}
</ul>